body > header {
  background-image: url(../images/banner-initial.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section {
  border-bottom: 5px solid rgb(35 35 35);
}

footer {
  color: gray;
}

.button-red {
  background-color: rgb(236, 2, 2);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 17px 30px;
}
.button-red:hover {
  background-color: rgb(196, 0, 0);
  color: white;
}

.accordion-item {
  margin: 5px;
}
.accordion-button {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 25px;
}

.section-shadowed:hover {
  background: linear-gradient(148deg, rgba(0,0,0,1) 0%, rgba(25,25,25,1) 35%, rgba(0,0,0,1) 70%);
}

/* ===== Scrollbar ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #d12323 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #d12323;
  border-radius: 10px;
  border: 2px solid #000000;
}