body > header {
  background-image: url(../images/banner-initial.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section {
  border-bottom: 5px solid rgb(35 35 35);
}

footer {
  color: gray;
}

footer p:hover {
  color: rgb(173, 173, 173);
  cursor: pointer;
}

.logo {
  width: 120px;
}
.logo:hover {
  animation: jello-horizontal 0.9s both;
}

.button-red {
  background-color: rgb(236, 2, 2);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 17px 30px;
}
.button-red:hover {
  background-color: rgb(196, 0, 0);
  color: white;
}

.section-shadowed:hover {
  background: linear-gradient(148deg, rgba(0,0,0,1) 0%, rgba(25,25,25,1) 35%, rgba(0,0,0,1) 70%);
}

.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  color: orange;
}

/* ==== Bootstrap overrides */

.accordion-item {
  margin: 5px;
}
.accordion-button {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 25px;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

/* ===== Scrollbar ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #d12323 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #d12323;
  border-radius: 10px;
  border: 2px solid #000000;
}

/* ==== Animations ==== */
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}