body > header {
  background-image: url(../images/banner-initial.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#carousel {
  width: 100%;
  max-width: 800px;
}

.video-card .card-body {
  cursor: pointer;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0);
}

/* Responsiveness */

@media (min-width: 992px) {
  .video-card {
    position: relative;
    z-index: 0;
    transition: 0.7s ease;
  }
  .video-card:hover {
    z-index: 10;
    scale: 1.2;
  }
  
  .video-card .card-body {
    position: absolute;
    top: 0px;
    opacity: 0;
    transition:
      top 0.01s linear 0.7s,
      opacity 0.7s ease;
  }
  .video-card:hover .card-body {
    opacity: 1;
    top: 100%;
    transition: 
      top 0.01s, 
      opacity 0.7s ease;
  }  
}
